<div class="card col-md-4" id="image-display">
  <img src="{{image}}" alt="{{description}}" class="userart" />
  <div class="container">
    <h4>Title: {{title}}</h4>
    <h4>Artist: {{artist}}</h4>
    <h4>Description: {{description}} </h4>
    <h4>Type: {{type}}</h4>
  </div>
</div>