<div>
     <p>Results for "{{searched}}"</p>
    {{#each Art}}
        <div class="card">
            <img src="{{image}}" alt="{{description}}">
            <div class="container">
                <p>{{title}}</p>
                <p>{{artist_key}}</p>
                <p>{{type}}</p>
            </div>
        </div>
    {{/each}}
</div>