<p>Random Art</p>
    {{#each Art}}
        <div class="card">
            <img src="{{image}}" alt="{{description}}" style="width:100%">
            <div class="container">
                <p>{{name}}</p>
                <p>{{artist_key}}</p>
                <p>{{type}}</p>
            </div>
        </div>
    {{/each}}